html, body {
  width: 100%;
  height: auto;
  margin: 0;
}

/* navbar */

.site-header {
    font-style: roboto;
    background-color: #242c3b;
    padding: 20px 120px;
}

.header-class {
    color: antiquewhite;
}

.header-class h1 {
    font-size: 24px;
    margin: 0;
    color: #f9faf8;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}


/* main body */
.main-1 {
    text-align: center;
    background-color: white;
    padding: 60px 0;
}

#main-1-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

#main-1-body {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#main-1-body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

#main-1-body > div > div {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 10px;
}

#main-1-body h3 {
    color: #6c747c;
    font-size: 14px;
    font-weight: 400;
}

/* quote */

.quote-section {
    background-color: #e5e7eb;
    padding: 80px;
}

.quote-section figure {
    max-width: 800px;
    margin: 0 auto
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    margin: 0;
}

.quote-person {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
}

/* Call to action */

.cta-section {
    background-color: white;
    padding: 80px;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 12px;
    max-width: 900px 0;
    margin: 0 auto;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.cta-text h2 {
  color: white;
  margin: 0;
}

.cta-text p {
  color: #e5e7eb;
  margin: 4px 0 0 0;
}

.cta-box button {
  background: #3882f6;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 28px;
  font-weight: 700;
}

/* copyright section */

.copyright-footer {
    background-color: #1f2937;
    padding: 50px;
    text-align: center;
}

.copyright-text {
    font: roboto;
    color: #f9f4f8;
    padding: 40;

}

